body {
    font-family: 'Roboto', sans-serif;
    font-style: 14px; /*размер шрифта*/
    color: #0A143A;/*цвет текста*/
}

.container {
    max-width: 1446px; /*макс ширина*/
    margin: auto; /*автоматическое выравнивание по середине*/
}

.header {

    padding-top: 30px; /*верхний отступ от края экрана 30п*/
    padding-bottom: 30px; /*нижний отступ после хедера 30п*/
    margin-bottom: 12px;
}

.navbar {
    display: flex; /*делаем гибкий блок*/
    align-items: center; /*выравнивание по вертикали по центру*/
    justify-content: space-between; /*разбросать эл-ты по краям*/
    margin-bottom: 24px;
}

/* меню в шапке */
.navbar-menu {
    margin-right: auto;  /*автоматический отступ права*/
}

.menu {
    list-style: none; /* отключаем точки в списке*/
    margin: 0; /* обнуляем отступы сверху и снизу */
    padding-left: 22px; /* внутренний отступ слева 22п */
    padding-right: 22px; /* внутренний отступ справа 22п */
    display: flex; /* располагаем меню горизонтально(вдоль)*/
}

/* для всех пунктов меню кроме последнего применяем отступ справа */
.menu-item:not(:last-child) {
    margin-right: 14px; /* оступ справа 14п*/
}

.menu-link {
    text-decoration: none; /* отключаем подчеркивание у ссылок */
    color: inherit; /* возьми цвет теста как у родителя(body)*/
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px; /*отступы внутренние у кнопок*/
    cursor: pointer;
}

.button-link {
    color: inherit; /* цвет такой же как и у основного документа*/
}

.button-primary {
    background: #256EEB; /* фон*/
    border-radius: 5px; /*скругление углов*/
    color: white;
}

.search-panel {
    height: 50px; /* высота */
    background: #256EEB;
    border-radius: 5px;
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1;/*растягивается на все свободное место*/
    background: #FFFFFF;
    border-radius: 5px;
    border: none; /*отключаем обводку*/
    padding-left: 22px;
    padding-right: 22px;
}

.search-button {
    background: #256EEB;
    border: none;
    color: white;
    padding-left: 20px;
    padding-right: 17px;
    display: flex;
    align-items: center;
}

.search-button-text {
    margin-left: 5px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover;
}

.cards {
    display: flex;/*расположить карточки в строку*/
    flex-wrap: wrap;/*если не помещаются - переносились бы*/
    justify-content: wrap;/**/
}

.card {
    margin-bottom: 20px;

}

.card:not(:nth-child(3n)) {
    margin-right: 30px;
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 15px;

}

.card-link {
    text-decoration: none;
}

.card-price {
    font-style: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}

.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 4px;
    margin-top: 0;
}

.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;    
}

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.service-text {
    font-size: 14px;
    line-height: 16px;
    max-width: 217px;
}

.footer-text {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.footer-link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 5px;
}